.services-container {
    text-align: center;
    margin: 20px;
}

.services-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.service-item {
    border: 2px solid green;
    color: green;
    background-color: white;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.service-item.selected {
    background-color: green;
    color: white;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}
