.treatments-container {
    text-align: left;
    margin: 2rem 15rem;
}

.treatments-table-container {
    overflow-x: auto;
}

.treatments-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.treatments-table th, .treatments-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.treatments-table th {
    background-color: #f2f2f2;
    text-align: left;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}


.ant-table-thead > tr > th {
    background-color: #52c41a !important;
    color: #ffffff !important;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
  }
  
  .ant-table-tbody > tr > td {
    text-align: center;
    font-size: 14px;
    color: #333;
  }
  
  .custom-row:hover {
    background-color: #f6ffed;
    transition: background 0.3s ease-in-out;
  }
  
  .ant-table {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  